<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lax-Discord</title>
</head>
<body>
    {% include 'partials/navbar.html'%}

    <!-- flash message -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% block content%}
        <!-- le contenu -->
    {% endblock%}
</body>
</html>