{% load static %}

<div class="row text-center bg-muted pb-4 mb-4">
  <div class="col-md-4 mt-4">
    <a href="/">
      <img src="{% static 'images/logo.jpg' %}" alt="" />
    </a>
  </div>

  <div class="col-md-4 p-4">
    <!-- searchForm -->
    <!-- no need csrf token -> GET method -->
    <form method="GET" action="{% url 'home' %}">
      <!-- take what we the user type in the empty field and throw it to the url -->
      <label for=""> Type keyword to find out room information ... </label>

      <input
        type="text"
        class="form-control"
        name="q"
        placeholder="Search Rooms... "
      />
    </form>
  </div>

  <div class="col-md-4 p-4">
    <!-- Si l’utilisateur est authentifié, faire apparaitre le bouton ‘LOGOUT’ -->
    {% if request.user.is_authenticated %}
    <img class="avatar" src="{{request.user.avatar.url}}" alt="" />
    <small>Hello {{ request.user }}</small>
    <br />
    <a href="{% url 'update-user' %}">Update User </a>
    <br />
    <a href="{% url 'logout' %}">Logout </a>
    {% else %}
    <!-- sinon juste le login -->
    <!-- login form -->
    <a href="{% url 'login' %}">Login </a>
    {% endif %}
  </div>
</div>
