<div>
    {% for room in rooms %}
    <div>
        <!-- Faire un query à partir du modele parent (room) -->
        <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
        <!-- sur clic va rediriger vers la page du profil de l'utilisateur -->
        
        
        <h5> {{room.id}} -   
            <a href="/room/{{room.id}}">
                {{room.name}}
            </a>
        </h5>
        <!-- delete/ update only for the room owner -->
        {% if request.user == room.host %}
            <!-- # rediriger vers update-room avec room.id en parametre     -->
            <a href="{% url 'update-room' room.id %}">Update</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
        {% endif %}
        <p>{{room.description}}</p>
        <small>{{room.topic.name}}</small>
        <hr>    
    </div>
    {% endfor %}
</div>