
{% extends 'partials/main.html' %}

{% block content%}

<!-- container -->
<div class="row">
    <!-- Topiv sidebar -->
    <div class="col-md-2">
        {% include 'topic_component.html'%}
    </div>
    
    <!-- Content- list of rooms-->
    <div class="col-md-6">
        <!-- # compter le nombre de Room -->
        <h6>{{room_count}} rooms available ...</h6>
        <br>
        <!-- # rediriger vers create-room  -->
        <p>
            <a href="{% url 'create-room' %}"">CREATE ROOM</a>
        </p>
        <br>
        {% include 'feed_component.html' %}
    </div>
    
    <!-- recent activities -->
    <div class="col-md-3">
       {% include 'activity_component.html'%}
    </div>
</div>

{% endblock %}