<!-- form to CREATE and UPDATE room -->

{% extends 'partials/main.html' %}

{% block content %}

<div class="row">
    <div class="col-md-6">

        <h1>CREATE ROOM</h1>
        <!-- POST method for creating and updating - redirect to current page -->
        <form method="POST" action="">
            <!-- a token is sent everytime the form is submited -->
            <!-- security against cross site- attack -->
            {% csrf_token %}
            
            <!-- mettre en place RoomForm -->
            <!-- {{form.as_p}}  # avoir tous les champs du formulaires -->
            
            <!-- on peut avoir chaque champ du formulaire  -->
            <div>
                <label class="form-label" for="room_topic">Topic</label>
                <!-- faire un INPUTFIELD qui aura un  DROPDOWN SELECT -->
                <input required class="form-control" type="text" name="topic" list="topic-list">
                
                <!-- les options du dropdown quand le user tape quelque chose dedans-->
                <!-- Dropdown -->
                <datalist id="topic-list"> # le d doit correspondre à l'attribut list
                    <select id="room-topic">
                        <!-- on y passe la liste des topics -->
                        {% for topic in topics %}
                        <option value="{{topic.name}}">{{topic.name}}</option>
                        {% endfor %}
                    </select>
                </datalist>
                
            </div>
            <div>
                <label class="form-label" for="room_name">Name</label>
                <input type="text" class="form-control" {{form.name}}>
                
            </div>
            <div>
                <label class="form-label" for="room_description">Description</label>
                <input type="text" class="form-control" {{form.description}}>
            </div>
            
            <input type="submit" value="Submit">
        </form>    
    </div>
</div>
    {% endblock %}
    