


body{
    background-color: rgb(42, 43, 62);
    color: rgb(232, 233, 233);
}

a{
    color: rgb(200, 187, 187);
}

img{
    height: 150px;
    width: 150px;
}

.page-header{
    background-color: rgb(23, 24, 35);
}